<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="js/socket.io.min.js"></script>
        <link rel="stylesheet" href="css/main.css" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/main.css" />
        <title>Whitman Bowl</title>
    </head>
    <body>
        <div id="room-table">
            <div class="room-table-item" id="room-code"></div>
            <div class="room-table-item" id="room-link"></div>
            <div class="room-table-item" id="leader"></div>
        </div>

        <table id="leader-controls">
            <tbody id="stuff">
                <tr>
                    <td colspan="2">
                        <div id="buzzer">
                            <div id="visible-buzzer">Buzz</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="players">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Score</th>
                <th>Status</th>
            </tr>
        </table>
    </body>

    <script src="js/main.js" defer></script>
</html>
