@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.buzz-status {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 5px;
    margin: auto;
}

.buzz-status[buzz-status="0"] {
    background: blue;
}
.buzz-status[buzz-status="1"] {
    background: red;
}
.buzz-status[buzz-status="2"] {
    background: lime;
}

#room-table {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#buzzer {
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    z-index: 5;
    margin: 30px 0px;
}

#visible-buzzer {
    background: #b4b4fd;
    width: fit-content;
    margin: auto;
    padding: 30px;
}

#buzzer:hover {
    background: #9696ff;
}

#buzzer:hover > #visible-buzzer {
    background: #9696ff;
    width: 100%;
}

.room-table-item {
    padding: 30px;
}

table {
    width: 100%;
}

td {
    text-align: center;
    padding: 5px;
}

#leader-controls {
    margin-bottom: 30px;
}

#correct,
#incorrect {
    width: 100%;
    padding: 20px;
    cursor: pointer;
}

#correct:hover {
    background: lime;
}
#incorrect:hover {
    background: red;
}
